argon2-cffi==23.1.0
cryptography==46.0.6
docxtpl==0.20.2
pyqtdarktheme==2.1.0
pyside6==6.11.0
pyside6_addons==6.11.0
pyside6_essentials==6.11.0
python_dateutil==2.8.2
python_docx==1.1.0
Requests==2.33.0
